RVI_Indi_RVI_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
RVI_Indi_RVI_MA_Method={{ ma_method | default(0) }}
RVI_Indi_RVI_Period,1=4
RVI_Indi_RVI_Period,2=4
RVI_Indi_RVI_Period,3=24
RVI_Indi_RVI_Period,F=1
RVI_Indi_RVI_Period={{ (period | default(0) | int) }}
RVI_Indi_RVI_Shift={{ shift | default(0) }}
RVI_LotSize={{ lot_size | default(0) }}
RVI_PriceStopMethod=0
RVI_SignalOpenFilterMethod=1
RVI_SignalOpenLevel={{ signal_open_level | replace("(float)", "") | float | default(0) }}
RVI_TickFilterMethod=1
